/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.card {
    background-color: rgb(29, 39, 49);
    color: rgb(170, 170, 170);
    margin: 15px;
}

.container-fluid {
    background-color: rgb(8, 60, 93);
}

.card-img-top {
    border: solid 4px rgb(29, 39, 49);
}

.titulo-catalogo {
    font-weight: bold;
    text-decoration: underline;
}

.login {
    color: #aaaaaa;
}

.carousel {
    height: fit-content;
    border: solid 12px #1d2731;
}

.list-group-item {
    background-color: #083c5d;
    color: #aaaaaa;
}

/*
Seccion de estilo para el overlay en el navbar
*/
body{
    background-color: #1d2731;
    background-size: cover;
    font-family: Arial;
}
.wrap{
    max-width: 350px;
    margin: auto;
    padding: 20px;
    background: #083c5d;
    margin-top: 100px;
    border-radius: 20px;
    border: solid;
    
}
form{
    margin-top: 50px;
}
input{
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 5px;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #d98310;
}
input[type=submit]{
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    background: #d98310;
    border: 1px solid #fff;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #328cc1;
}
.openbtn{
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    float: right;
}
.openbtn:hover{
    background: #bbb;
}
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
.closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}
.closebtn:hover{
    color: #ccc;
}
